@model SOSPets.Models.EncontradosModel

@{
    ViewData["Title"] = "Detalhes do animal encontrado";
}

<link rel="stylesheet" href="~/css/detalhes_desa_page.css" />

<div class="container">
    <div class="imagem-post">
        <img src="~/img/encontrados/@Html.DisplayFor(model => model.Imagem)" alt="">
    </div>
    <div class="info-post">
        <h3>Encontrado</h3>
        <h5> @Html.DisplayFor(model => model.Cidade)</h5>
        <div class="informacoes">
            <p>
                <span>Descrição:</span> @Html.DisplayFor(model => model.Descricao)
            </p>
        </div>
    </div>
    <div class="contato-post">
        <h2>Informações de contato</h2>
        <p class="info-contato">
            @Html.DisplayFor(model => model.Usuario.Nome)<br />
            Telefone: <b id="Telefone" class="tel">@Html.DisplayFor(model => model.Usuario.Tel)</b><br />
            E-mail: @Html.DisplayFor(model => model.Usuario.Email)
        </p>
        <a asp-action="CentralEncontrados" role="button" class="btn-voltar btn btn-light">Voltar para a central</a>
    </div>
</div>
