@model SOSPets.Models.DesaparecidosModel

@{
    ViewData["Title"] = "Detalhes Desaparecido";
}

<link rel="stylesheet" href="~/css/detalhes_page.css" />

<div class="container">
    <div class="imagem-post">
        <img src="~/img/desaparecidos/@Html.DisplayFor(model => model.Imagem)" alt="">
    </div>
    <div class="info-post">
        <h1>Desaparecido</h1>
        <h5> @Html.DisplayFor(model => model.Cidade)</h5>
        <div class="informacoes">
            <p>
                Descrição:  @Html.DisplayFor(model => model.Descricao)
            </p>
        </div>
    </div>
    <div class="contato-post">
        <h2>Informações de contato</h2>
        <p class="info-contato">
            @Html.DisplayFor(model => model.Usuario.Nome)<br />
            Telefone: @Html.DisplayFor(model => model.Usuario.Tel)<br />
            E-mail: @Html.DisplayFor(model => model.Usuario.Email)
        </p>
        <a asp-action="CentralDesaparecidos" role="button" class="btn-voltar btn btn-light">Voltar para a central</a>
    </div>

</div>