@model SOSPets.Models.ONGsModel

@{
    ViewData["Title"] = "Excluir ONG";
}

<h3 class="text-center">Você tem certeza que deseja excluir esta ONG?</h3>

<link rel="stylesheet" href="~/css/ong_detalhes_page.css" />

<div class="container-ong text-center">
    <div class="imagem">
        <img src="~/img/ONGs/@Html.DisplayFor(model => model.Imagem)" class="img-ong" />
    </div>
    <h1>@Html.DisplayFor(model => model.Nome)</h1>

    <div class="item-ong">
        <h4>Descrição</h4>
        <p>@Html.DisplayFor(model => model.Descricao)</p>
    </div>
    <div class="item-ong">
        <h4>Endereço</h4>
        <p>@Html.DisplayFor(model => model.Endereco)</p>
    </div>
    <div class="item-ong">
        <h4>Cidade</h4>
        <p>@Html.DisplayFor(model => model.Cidade)</p>
    </div>
    <div class="contato">
        <h4>Entre em contato com esta ONG!</h4>
        <div class="info-contato">
            <p>Telefone: @Html.DisplayFor(model => model.Tel)</p>
            <p>E-mail: @Html.DisplayFor(model => model.Email)</p>
        </div>
    </div>

    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a  role="button" class="btn btn-secondary" asp-action="CentralONGs">Voltar</a>
    </form>
</div>
