@model SOSPets.Models.UsuarioModel

@{
    ViewData["Title"] = "Detalhes da conta";
}

<link rel="stylesheet" href="~/css/user_page.css" />

    <div class="container-user">
        <h1>@Html.DisplayFor(model => model.Nome)</h1>

        <br>

        <div class="dados-user">
            <input type="hidden" asp-for="Id" />
            <div class="input-user-dados">
                <label for="">Email:  </label>
                <input asp-for="Email" readonly class="form-control" />
            </div>
            <div class="input-user-dados">
                <label for="">Telefone:  </label>
                <input asp-for="Tel" readonly class="form-control" />
            </div>
        </div>

        <div class="btn-options-user">
            <a asp-action="Edit" asp-route-id="@Model?.Id" name="id" role="button" class="btn btn-primary">Editar Dados</a>
            <a href="" role="button" class="btn btn-danger">Excluir Conta</a>
        </div>
    </div>



<!--<div>
    <h4>UsuarioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a >Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>-->
