@model HomeViewModel;

@{
    ViewData["Title"] = "Postagens";
}

<div class="home-content">
    <h1 style="text-align: center">Para Adoção</h1>
    <div class="coluna-post row row-cols-4 ">
        @foreach (var item in Model.listAdocao)
        {
            <div class="row">
                <div class="card ">
                    <img src="~/img/adocao/@Html.DisplayFor(modelItem => item.Imagem)" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <p class="card-text">
                            Raça: @Html.DisplayFor(modelItem => item.Raca)<br>
                            Sexo: @Html.DisplayFor(modelItem => item.Sexo)<br>
                            Idade: @Html.DisplayFor(modelItem => item.Idade)<br>
                            Cor: @Html.DisplayFor(modelItem => item.Cor)<br>
                            Porte: @Html.DisplayFor(modelItem => item.Porte)<br>
                            Cidade: @Html.DisplayFor(modelItem => item.Cidade)
                        </p>
                    </div>
                    <a class="btn btn-primary align-items-center" role="button" asp-controller="Adocao" asp-action="Detalhes" asp-route-id="@item.Id">Quero adotar</a>
                </div>

            </div>
        }
    </div>

    <a asp-controller="Adocao" asp-action="CentralDeAdocoes" class="link link-vermais">Clique aqui para continuar vendo os Pets para adoção!</a>

</div>
<!-------------------------------------------------------------------------------------------------->
<div class="home-content">
    <h1 style="text-align: center">Animais Encontrados</h1>
    <div class="coluna-post row row-cols-4 ">
        @foreach (var item in Model.listEncontrados)
        {
            <div class="row">

                <div class="card ">
                    <img src="~/img/encontrados/@Html.DisplayFor(modelItem => item.Imagem)" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center">Encontrado</h5>
                        <p class="card-text">
                            Cidade: @Html.DisplayFor(modelItem => item.Cidade)<br>
                            Descrição: @Html.DisplayFor(modelItem => item.Descricao)
                        </p>
                    </div>
                    <a class="btn btn-primary align-items-center" role="button" asp-controller="Encontrados" asp-action="Detalhes" asp-route-id="@item.Id">Este animal é meu</a>
                </div>

            </div>
        }
    </div>

    <a asp-controller="Encontrados" asp-action="CentralEncontrados" class="link link-vermais">Clique aqui para ver mais animais encontrados!</a>

</div>
<!-------------------------------------------------------------------------------------------------->
<div class="home-content">
    <h1 style="text-align: center">Animais Desaparecidos</h1>
    <div class="coluna-post row row-cols-4 ">
        @foreach (var item in Model.listDesaparecidos)
        {
            <div class="row">

                <div class="card ">
                    <img src="~/img/desaparecidos/@Html.DisplayFor(modelItem => item.Imagem)" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <p class="card-text">
                            Cidade: @Html.DisplayFor(modelItem => item.Cidade)<br>
                            Descrição: @Html.DisplayFor(modelItem => item.Descricao)
                        </p>
                    </div>
                    <a class="btn btn-primary align-items-center" role="button" asp-controller="Desaparecidos" asp-action="Detalhes" asp-route-id="@item.Id">Eu vi este animal</a>
                </div>

            </div>
        }
    </div>

    <a asp-controller="Desaparecidos" asp-action="CentralDesaparecidos" class="link link-vermais">Clique aqui para ver mais animais desaparecidos!</a>

</div>