@model IEnumerable<SOSPets.Models.AdocaoModel>

@{
    ViewData["Title"] = "Central de Adoções";
}

<link rel="stylesheet" href="~/css/adocao_page.css"/>

<div class="banner text-center">
    <h1 class="text-center" id="title">Central de Adoções</h1>
    <p>Bem-vindo(a) a nossa central de adoções, aqui você encontra animaizinhos anciosos por um novo lar!</p>
    <a class="btn btn-success" role="button" asp-action="CadastrarAdocao">Cadastrar novo animal para adoção</a>
    <form>
        <div class="form-group">
            <input class="form-control" placeholder="Busque aqui por: Nome, Idade, Sexo, Cidade, Raça, Cor e etc" name="buscaPet" />
            <input class="form-control" type="submit" value="Buscar" />
        </div>
    </form>
</div>


<div class="coluna-post row row-cols-4 ">
              
    @foreach (var item in Model) {
            <div class="row">

                <div class="card ">
                    <img src="~/img/adocao/@Html.DisplayFor(modelItem => item.Imagem)" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-center">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <p class="card-text">   
                            Raça: @Html.DisplayFor(modelItem => item.Raca)<br>
                            Sexo: @Html.DisplayFor(modelItem => item.Sexo)<br>
                            Idade: @Html.DisplayFor(modelItem => item.Idade)<br>
                            Cor: @Html.DisplayFor(modelItem => item.Cor)<br>
                            Porte: @Html.DisplayFor(modelItem => item.Porte)<br>
                            Cidade: @Html.DisplayFor(modelItem => item.Cidade)
                        </p>
                    </div>
                    <a class="btn btn-primary align-items-center" role="button" asp-action="Detalhes" asp-route-id="@item.Id">Quero adotar</a>
                </div>

            </div>
    }
               
</div>        