@model SOSPets.Models.AdocaoModel

@{
    ViewData["Title"] = "Detalhes Adoção";
}

<link rel="stylesheet" href="~/css/detalhes_page.css" />

<div class="container">
    <div class="imagem-post">
        <img src="~/img/adocao/@Html.DisplayFor(model => model.Imagem)" alt="">
    </div>
    <div class="info-post">
        <h1>@Html.DisplayFor(model => model.Nome)</h1>
        <h5> @Html.DisplayFor(model => model.Cidade)</h5>
        <p>
           Raça:  @Html.DisplayFor(model => model.Raca) <br />
           Sexo:  @Html.DisplayFor(model => model.Sexo) <br />
           Idade: @Html.DisplayFor(model => model.Idade) <br />
           Cor: @Html.DisplayFor(model => model.Cor)  <br />
           Porte: @Html.DisplayFor(model => model.Porte)
        </p>
    </div>
    <div class="contato-post">
        <h2>Informações de contato</h2>
        <p class="info-contato">@Html.DisplayFor(model => model.Usuario.Nome)<br />
           Telefone: @Html.DisplayFor(model => model.Usuario.Tel)<br />
           E-mail: @Html.DisplayFor(model => model.Usuario.Email)</p>
        <a asp-action="CentralDeAdocoes" role="button" class="btn-voltar btn btn-light">Voltar para a central</a> 
    </div>
    
</div>
