@model SOSPets.Models.AdocaoModel

@{
    ViewData["Title"] = "Excluir Post";
}

<link rel="stylesheet" href="~/css/detalhes_desa_page.css" />
<link rel="stylesheet" href="~/css/exclusao_page.css" />
@if (User.IsInRole("ADM"))
{
    <div class="text-center">
        <h2>Administrador, você tem certeza que deseja excluir este animal da Central de Adoções?</h2>
    </div>
}
else
{
    <h2>Você tem certeza que deseja excluir este animal das Adoções?</h2>
}

<div class="container">
    
    <div class="imagem-post">
        <img src="~/img/adocao/@Html.DisplayFor(model => model.Imagem)" alt="">
    </div>
    <div class="info-post">
        <h1>@Html.DisplayFor(model => model.Nome)</h1>
        <h5> @Html.DisplayFor(model => model.Cidade)</h5>
        <div class="informacoes">
            <p>
                <span>Raça:</span>  @Html.DisplayFor(model => model.Raca) <br />
                <span>Sexo:</span>  @Html.DisplayFor(model => model.Sexo) <br />
                <span>Idade:</span> @Html.DisplayFor(model => model.Idade) <br />
                <span>Cor:</span> @Html.DisplayFor(model => model.Cor)  <br />
                <span>Porte:</span> @Html.DisplayFor(model => model.Porte)
            </p>
        </div>
    </div>
</div>
    
<div class="btn-exclusao">
    <form asp-action="Excluir">
        <input type="hidden" asp-for="Id" />
        @if (!User.IsInRole("ADM"))
        {
            <a asp-controller="Usuario" class="btn btn-secondary" role="button" asp-action="Posts">Voltar</a>
        }
        <input type="submit" value="Excluir" class="btn btn-danger" />
        @if (User.IsInRole("ADM"))
        {
            <div class="text-center">
                <h3>Após a exclusão você sera redirecionado para a Home.</h3>
            </div>
        }
    </form>
</div>

